.nav {
  grid-area: nav;
  background-color: lightgray;
}

.nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  list-style: none;
}

.nav a {
  display: inline-block;
  font-size: 20px;
  padding: 5px;
  margin-top: 10px;
  color: #222;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  text-decoration: none;
  transition: 0.3s;
}

.nav a:hover {
  color: #183cdd;
  transform: scale(0.98);
}

.nav a.active {
  color: darkblue;
}
