@import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-wrapper {
  display: grid;
  grid-template-areas:
    "header header"
    "nav content";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 5fr;
  grid-gap: 10px;

  font-family: "Roboto", sans-serif;
}

.app-wrapper-content {
  grid-area: content;
  background-color: lightgray;
}
